<div class="gbtf-form-actions">
  <button type="button" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--secondary" data-action="reset-form">
    {{localize "GBTF.Common.Reset"}}
  </button>
  <button type="button" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--secondary" data-action="defaults-form">
    {{localize "GBTF.Common.Default"}}
  </button>
  <button type="button" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--secondary" data-action="close">
    {{localize "GBTF.Common.Cancel"}}
  </button>
  <button type="submit" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--primary">
    {{localize "GBTF.Common.Save"}}
  </button>
</div>
