<div class="gbtf-form-actions">
  <button type="button" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--secondary" data-action="cancel">
    {{localize "GBT.Common.Cancel"}}
  </button>
  <button type="submit" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--primary">
    {{localize "GBT.Common.Save"}}
  </button>
</div>
