<div class="gbtf-form-actions">
  <button type="button" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--secondary" data-action="close">
    {{localize "GBT.Common.Cancel"}}
  </button>
  <button type="button" class="dialog-button gbtf-form-actions__button gbtf-form-actions__button--primary" data-action="submit">
    {{localize "GBT.Common.Save"}}
  </button>
</div>
